{% extends 'base.html' %}

{%block conteudo%}
    <h1 class="mt-5">Meus Alunos</h1>

    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">Numero</th>
          <th scope="col">Série</th>
          <th scope="col">Categorias</th>
        </tr>
      </thead>
      <tbody>
       {% for dado in dados %}
        <tr>
          <td>
            <a href="#">{{ dado.nome }}</a>
          </td>
          <td>{{ dado.sobrenome }}</td>
          <td>{{ dado.numero }}</td>
          <td>{{ dado.serie }}</td>
          <td>{{ dado.categoria }}</td>
        </tr>
       {% endfor %}
      </tbody>
    </table>
{%endblock%}