{% extends 'base.html' %}

{%block titulo%}{{ dados.nome }} {{ dados.sobrenome }}| {%endblock%}

{%block conteudo%}
<div class="text-center col-md-6 container" style="background-color: #F0E2E7; border-radius: 25px; box-shadow: 10px 10px 10px 5px black">
    <h1 class="mt-5">{{ dados.nome }} {{ dados.sobrenome }}</h1>
    <dl>
        <dt>ID</dt>
        <dd>{{ dados.id }}</dd>

        <dt>Telefone</dt>
        <dd>{{ dados.telefone }}</dd>

        <dt>E-mail</dt>
        <dd>{{ dados.email }}</dd>

        <dt>Data de Criação</dt>
        <dd>{{ dados.data_criacao }}</dd>

        <dt>Numero da Chamada</dt>
        <dd>{{ dados.numero }}</dd>

        <dt>Série</dt>
        <dd>{{ dados.serie }}</dd>

        <dt>Data de Nascimento</dt>
        <dd>{{ dados.data_nascimento }}</dd>

        <dt>CPF</dt>
        <dd>{{ dados.cpf }}</dd>

        <dt>Categoria</dt>
        <dd>{{ dados.categoria }}</dd>

        <a href="edit/{{dados.id}}" class="btn bg-success border-success text-white">Editar</a>
        <a href="delete/{{dados.id}}" class="btn bg-danger border-danger text-white">Deletar</a>
    </dl>
    <br>
</div>
{%endblock%}