{% extends 'base.html' %}

{%block titulo%}Editar {{dado.nome}} {{ dado.sobrenome }}| {%endblock%}

{% block conteudo %}

{% include 'parciais/_messages.html' %}

<h1 class="d-flex justify-content-center">Editar Aluno</h1>

<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table">
            {{ form }}
            <tr>
                <td colspan="2">
                      <button type="submit" class="btn bg-dark border-dark text-white">Salvar</button>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}