#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #fff;
}

#header {
    background:crimson;
    color: #fff;
}

div.breadcrumbs {

    /* color: #c4dce8; */

    background: firebrick;

}

.module caption{
    background: crimson;
}

.voltar{
    background-color: crimson;
}


input[type="submit"]{
    background-color: crimson;
}

.button:hover, input[type=submit]:hover, input[type=button]:hover {

    background: #878787;

}